# Housing Price Prediction Using Image Data

## Data Science - step 1 -> Data Cleaning

##### Radhika Zawar - Masters of Data Science
##### Supervisor : Prof Vic Ciesielski
##### School of Science and Technology, RMIT


##### The project is intended to use images to improve housing price prediction accuracy
##### Dataset : Image Data - 65000 images

**Brief about previous step**
Previously, images data were passed to AWS Rekognition and the labels were fetched programmatically. AWS S3 is used to store all the images and the labels fetched from rekognition are stored into AWS DynamoDB programmatically.
This Data is stored in  { image_names    ->  list of labels \[label : confidence\] }, this format, in the DynamoDB database.
A csv file is generated from dynamoDB and have fetched on the local machine for the matter of simplicity.

**Brief about current step of Data Cleaning**
In this step, the dataset has been cleaned and new datafiles are generated, which will be used for further analysis of this project.

**Input Data format:**

image_names (S)	labels (L)

1008668~269000~bin1.jpeg	[    { "S" : "Housing - 94.73712158203125%" },    { "S" : "Building - 94.73712158203125%" },    { "S" : "Indoors - 82.33526611328125%" },    { "S" : "Corner - 72.14749908447266%" },    { "S" : "Balcony - 69.6059341430664%" },    { "S" : "Door - 59.22966003417969%" },    { "S" : "Loft - 58.00208282470703%" },    { "S" : "Garage - 53.287109375%" },    { "S" : "Floor - 52.98407745361328%" },    { "S" : "Furniture - 52.62242126464844%" },    { "S" : "Tabletop - 52.62242126464844%" },    { "S" : "Concrete - 51.23373031616211%" }  ]

1008671~272000~bin1.jpeg	[    { "S" : "Couch - 99.80603790283203%" },    { "S" : "Furniture - 99.80603790283203%" },    { "S" : "Chair - 99.32038879394531%" },    { "S" : "Indoors - 96.56487274169922%" },    { "S" : "Living Room - 96.56487274169922%" },    { "S" : "Room - 96.56487274169922%" },    { "S" : "Interior Design - 89.18486022949219%" },    { "S" : "Rug - 80.986083984375%" },    { "S" : "Table - 78.865966796875%" },    { "S" : "Corner - 75.51490020751953%" },    { "S" : "Screen - 68.48231506347656%" },    { "S" : "Monitor - 68.48231506347656%" },    { "S" : "Building - 67.58081817626953%" },    { "S" : "Housing - 67.58081817626953%" },    { "S" : "Coffee Table - 59.3355827331543%" }  ]

1008775~295000~bin1.jpeg	[    { "S" : "Water - 99.7072525024414%" },    { "S" : "Outdoors - 97.85630798339844%" },    { "S" : "Nature - 97.81497955322266%" },    { "S" : "Reservoir - 90.88926696777344%" },    { "S" : "Waterfront - 88.13835906982422%" },    { "S" : "Port - 74.87985229492188%" },    { "S" : "Dock - 74.87985229492188%" },    { "S" : "Pier - 74.87985229492188%" },    { "S" : "Canal - 63.42995834350586%" },    { "S" : "Transportation - 61.292877197265625%" },    { "S" : "Vehicle - 59.551761627197266%" },    { "S" : "River - 57.6273307800293%" },    { "S" : "Architecture - 57.57911682128906%" },    { "S" : "Building - 57.57911682128906%" }  ]


**Output data format**

* **Output 1 - This excel file has all the recorded labels and their respective occurences**
label	occurrences

 Housing 	36
 Building 	35
 Furniture 	21
 Indoors 	20
     Room 	19
     
 
* **Output 2 - This excel file has the image name and associated labels with the confidence interval**

	image_names (S)	label	confidence
0	1008668~269000~bin1.jpeg	 Housing 	 94
1	1008671~272000~bin1.jpeg	 Couch 	 99
2	1008775~295000~bin1.jpeg	 Water 	 99
3	1008928~280500~bin1.jpeg	 Car 	 98
4	1008931~305000~bin1.jpeg	 Rug 	 97
5	1008945~252000~bin1.jpeg	 Housing 	 99


* **Output 3 - This excel file has one record per image and the confidence for the occurance of the label; in this we have gathered all the labels recorded and have checked every image accross the labels**

	image_names (S)	 Apartment Building 	 Appliance 	 Arbour 	 Architecture 	 Awning 	 Azure Sky 	 Backyard 	 Balcony 	 Banister 	 Basement 	 Bedroom 	 Bench 	 Bird 	 Bowl 	 Brick 	 Building 	 Bush 	 Cabinet 	 Canal 	 Canopy 	 Car 	 Chair 	 City 	 Closet 	 Cloud 	 Coffee Table 	 Concrete 	 Condo 	 Conifer 	 Corner 	 Cottage 	 Couch 	 Countryside 	 Cupboard 	 Cushion 	 Diagram 	 Dining Room 	 Dining Table 	 Dock 	 Door 	 Downtown 	 Electronics 	 Field 	 Fir 	 Flagstone 	 Flare 	 Floor 	 Floor Plan 	 Flooring 	 French Door 	 Furniture 	 Garage 	 Garden 	 Gate 	 Grass 	 Grassland 	 Hacienda 	 Hall 	 Handrail 	 Hardwood 	 High Rise 	 Home Decor 	 Hotel 	 House 	 Housing 	 Indoors 	 Interior Design 	 Kitchen 	 Kitchen Island 	 Land 	 Landscape 	 Laundry 	 Lighting 	 Living Room 	 Lobby 	 Loft 	 Mansion 	 Microwave 	 Monitor 	 Nature 	 Neighborhood 	 Office Building 	 Outdoors 	 Oven 	 Panoramic 	 Path 	 Patio 	 Penthouse 	 People 	 Person 	 Pier 	 Pillow 	 Pine 	 Plan 	 Plant 	 Plot 	 Porch 	 Port 	 Postal Office 	 Railing 	 Reception 	 Reception Room 	 Reservoir 	 Resort 	 River 	 Road 	 Roof 	 Room 	 Rug 	 Rural 	 Scenery 	 School 	 Screen 	 Shelter 	 Sidewalk 	 Sink 	 Sky 	 Slate 	 Slope 	 Suburb 	 Table 	 Tabletop 	 Tarmac 	 Toy 	 Transportation 	 Tree 	 Tree Trunk 	 Urban 	 Vegetation 	 Vehicle 	 Villa 	 Waiting Room 	 Walkway 	 Water 	 Waterfront 	 Wheel 	 Wood 	 Woodland 	 Yard 
    
0	1008668~269000~bin1.jpeg	0	0	0	0	0	0	0	69	0	0	0	0	0	0	0	94	0	0	0	0	0	0	0	0	0	0	51	0	0	72	0	0	0	0	0	0	0	0	0	59	0	0	0	0	0	0	52	0	0	0	52	53	0	0	0	0	0	0	0	0	0	0	0	0	94	82	0	0	0	0	0	0	0	0	0	58	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	52	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0

1	1008671~272000~bin1.jpeg	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	67	0	0	0	0	0	99	0	0	0	59	0	0	0	75	0	99	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	99	0	0	0	0	0	0	0	0	0	0	0	0	0	67	96	89	0	0	0	0	0	0	96	0	0	0	0	68	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	96	80	0	0	0	68	0	0	0	0	0	0	0	78	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0

2	1008775~295000~bin1.jpeg	0	0	0	57	0	0	0	0	0	0	0	0	0	0	0	57	0	0	63	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	74	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	97	0	0	97	0	0	0	0	0	0	0	74	0	0	0	0	0	0	74	0	0	0	0	90	0	57	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	61	0	0	0	0	59	0	0	0	99	88	0	0	0	0

Step 1 : The data is loaded and sanity is checked

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('dummy_image_labels.csv')
print(data.shape)
print(data.dtypes)

(50, 2)
image_names (S)    object
labels (L)         object
dtype: object

In [3]:
data.head(5)

            image_names (S)                                         labels (L)
0  1008668~269000~bin1.jpeg  [    { "S" : "Housing - 94.73712158203125%" },...
1  1008671~272000~bin1.jpeg  [    { "S" : "Couch - 99.80603790283203%" },  ...
2  1008775~295000~bin1.jpeg  [    { "S" : "Water - 99.7072525024414%" },   ...
3  1008928~280500~bin1.jpeg  [    { "S" : "Car - 98.14982604980469%" },    ...
4  1008931~305000~bin1.jpeg  [    { "S" : "Rug - 97.05144500732422%" },    ...

In [4]:
print(data.isna().sum())
print(data.columns)

image_names (S)    0
labels (L)         0
dtype: int64
Index(['image_names (S)', 'labels (L)'], dtype='object')

In [5]:
print (data.iloc[0,1])

[    { "S" : "Housing - 94.73712158203125%" },    { "S" : "Building - 94.73712158203125%" },    { "S" : "Indoors - 82.33526611328125%" },    { "S" : "Corner - 72.14749908447266%" },    { "S" : "Balcony - 69.6059341430664%" },    { "S" : "Door - 59.22966003417969%" },    { "S" : "Loft - 58.00208282470703%" },    { "S" : "Garage - 53.287109375%" },    { "S" : "Floor - 52.98407745361328%" },    { "S" : "Furniture - 52.62242126464844%" },    { "S" : "Tabletop - 52.62242126464844%" },    { "S" : "Concrete - 51.23373031616211%" }  ]

The label column has very long string which is a list of multiple labels and their respective confidence index
To separate the, this column is split into mutiple columns

In [6]:
new = data["labels (L)"].str.split(",", n = 14, expand = True)

In [7]:
new.head(10)
print(new.shape)

(50, 15)

Concatenating two dataframes to get one datagrame with its respective image name and the associated labels

In [8]:
separated_data = pd.concat([data, new], axis=1)

In [9]:
print(separated_data.shape)
separated_data.head(5)

(50, 17)

,image_names (S),labels (L),0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,1008668~269000~bin1.jpeg,"[ { ""S"" : ""Housing - 94.73712158203125%"" },...","[ { ""S"" : ""Housing - 94.73712158203125%"" }","{ ""S"" : ""Building - 94.73712158203125%"" }","{ ""S"" : ""Indoors - 82.33526611328125%"" }","{ ""S"" : ""Corner - 72.14749908447266%"" }","{ ""S"" : ""Balcony - 69.6059341430664%"" }","{ ""S"" : ""Door - 59.22966003417969%"" }","{ ""S"" : ""Loft - 58.00208282470703%"" }","{ ""S"" : ""Garage - 53.287109375%"" }","{ ""S"" : ""Floor - 52.98407745361328%"" }","{ ""S"" : ""Furniture - 52.62242126464844%"" }","{ ""S"" : ""Tabletop - 52.62242126464844%"" }","{ ""S"" : ""Concrete - 51.23373031616211%"" } ]",None,None,None
1,1008671~272000~bin1.jpeg,"[ { ""S"" : ""Couch - 99.80603790283203%"" }, ...","[ { ""S"" : ""Couch - 99.80603790283203%"" }","{ ""S"" : ""Furniture - 99.80603790283203%"" }","{ ""S"" : ""Chair - 99.32038879394531%"" }","{ ""S"" : ""Indoors - 96.56487274169922%"" }","{ ""S"" : ""Living Room - 96.56487274169922%"" }","{ ""S"" : ""Room - 96.56487274169922%"" }","{ ""S"" : ""Interior Design - 89.184860229492...","{ ""S"" : ""Rug - 80.986083984375%"" }","{ ""S"" : ""Table - 78.865966796875%"" }","{ ""S"" : ""Corner - 75.51490020751953%"" }","{ ""S"" : ""Screen - 68.48231506347656%"" }","{ ""S"" : ""Monitor - 68.48231506347656%"" }","{ ""S"" : ""Building - 67.58081817626953%"" }","{ ""S"" : ""Housing - 67.58081817626953%"" }","{ ""S"" : ""Coffee Table - 59.3355827331543%""..."
2,1008775~295000~bin1.jpeg,"[ { ""S"" : ""Water - 99.7072525024414%"" }, ...","[ { ""S"" : ""Water - 99.7072525024414%"" }","{ ""S"" : ""Outdoors - 97.85630798339844%"" }","{ ""S"" : ""Nature - 97.81497955322266%"" }","{ ""S"" : ""Reservoir - 90.88926696777344%"" }","{ ""S"" : ""Waterfront - 88.13835906982422%"" }","{ ""S"" : ""Port - 74.87985229492188%"" }","{ ""S"" : ""Dock - 74.87985229492188%"" }","{ ""S"" : ""Pier - 74.87985229492188%"" }","{ ""S"" : ""Canal - 63.42995834350586%"" }","{ ""S"" : ""Transportation - 61.2928771972656...","{ ""S"" : ""Vehicle - 59.551761627197266%"" }","{ ""S"" : ""River - 57.6273307800293%"" }","{ ""S"" : ""Architecture - 57.57911682128906%"" }","{ ""S"" : ""Building - 57.57911682128906%"" } ]",None
3,1008928~280500~bin1.jpeg,"[ { ""S"" : ""Car - 98.14982604980469%"" }, ...","[ { ""S"" : ""Car - 98.14982604980469%"" }","{ ""S"" : ""Building - 96.4316177368164%"" }","{ ""S"" : ""Tarmac - 95.8715591430664%"" }","{ ""S"" : ""Urban - 94.99915313720703%"" }","{ ""S"" : ""Road - 94.29228973388672%"" }","{ ""S"" : ""Condo - 92.85669708251953%"" }","{ ""S"" : ""Housing - 92.85669708251953%"" }","{ ""S"" : ""City - 92.21883392333984%"" }","{ ""S"" : ""Office Building - 87.58349609375%"" }","{ ""S"" : ""High Rise - 86.94839477539062%"" }","{ ""S"" : ""Apartment Building - 84.038818359...","{ ""S"" : ""Neighborhood - 73.65360260009766%"" }","{ ""S"" : ""Outdoors - 66.7999038696289%"" }","{ ""S"" : ""Architecture - 64.16875457763672%"" }","{ ""S"" : ""Suburb - 60.8856201171875%"" } ]"
4,1008931~305000~bin1.jpeg,"[ { ""S"" : ""Rug - 97.05144500732422%"" }, ...","[ { ""S"" : ""Rug - 97.05144500732422%"" }","{ ""S"" : ""Building - 81.25817108154297%"" }","{ ""S"" : ""Housing - 81.25817108154297%"" }","{ ""S"" : ""Indoors - 64.73756408691406%"" }","{ ""S"" : ""Lighting - 58.67643737792969%"" }","{ ""S"" : ""Furniture - 54.201839447021484%"" }","{ ""S"" : ""Corner - 53.80848693847656%"" }","{ ""S"" : ""Room - 51.78305435180664%"" }","{ ""S"" : ""Bedroom - 51.78305435180664%"" } ]",None,None,None,None,None,None

In [10]:
separated_data = separated_data.drop(['labels (L)'], axis=1)

In [11]:
print(separated_data.shape)
separated_data.head(5)

(50, 16)

,image_names (S),0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,1008668~269000~bin1.jpeg,"[ { ""S"" : ""Housing - 94.73712158203125%"" }","{ ""S"" : ""Building - 94.73712158203125%"" }","{ ""S"" : ""Indoors - 82.33526611328125%"" }","{ ""S"" : ""Corner - 72.14749908447266%"" }","{ ""S"" : ""Balcony - 69.6059341430664%"" }","{ ""S"" : ""Door - 59.22966003417969%"" }","{ ""S"" : ""Loft - 58.00208282470703%"" }","{ ""S"" : ""Garage - 53.287109375%"" }","{ ""S"" : ""Floor - 52.98407745361328%"" }","{ ""S"" : ""Furniture - 52.62242126464844%"" }","{ ""S"" : ""Tabletop - 52.62242126464844%"" }","{ ""S"" : ""Concrete - 51.23373031616211%"" } ]",None,None,None
1,1008671~272000~bin1.jpeg,"[ { ""S"" : ""Couch - 99.80603790283203%"" }","{ ""S"" : ""Furniture - 99.80603790283203%"" }","{ ""S"" : ""Chair - 99.32038879394531%"" }","{ ""S"" : ""Indoors - 96.56487274169922%"" }","{ ""S"" : ""Living Room - 96.56487274169922%"" }","{ ""S"" : ""Room - 96.56487274169922%"" }","{ ""S"" : ""Interior Design - 89.184860229492...","{ ""S"" : ""Rug - 80.986083984375%"" }","{ ""S"" : ""Table - 78.865966796875%"" }","{ ""S"" : ""Corner - 75.51490020751953%"" }","{ ""S"" : ""Screen - 68.48231506347656%"" }","{ ""S"" : ""Monitor - 68.48231506347656%"" }","{ ""S"" : ""Building - 67.58081817626953%"" }","{ ""S"" : ""Housing - 67.58081817626953%"" }","{ ""S"" : ""Coffee Table - 59.3355827331543%""..."
2,1008775~295000~bin1.jpeg,"[ { ""S"" : ""Water - 99.7072525024414%"" }","{ ""S"" : ""Outdoors - 97.85630798339844%"" }","{ ""S"" : ""Nature - 97.81497955322266%"" }","{ ""S"" : ""Reservoir - 90.88926696777344%"" }","{ ""S"" : ""Waterfront - 88.13835906982422%"" }","{ ""S"" : ""Port - 74.87985229492188%"" }","{ ""S"" : ""Dock - 74.87985229492188%"" }","{ ""S"" : ""Pier - 74.87985229492188%"" }","{ ""S"" : ""Canal - 63.42995834350586%"" }","{ ""S"" : ""Transportation - 61.2928771972656...","{ ""S"" : ""Vehicle - 59.551761627197266%"" }","{ ""S"" : ""River - 57.6273307800293%"" }","{ ""S"" : ""Architecture - 57.57911682128906%"" }","{ ""S"" : ""Building - 57.57911682128906%"" } ]",None
3,1008928~280500~bin1.jpeg,"[ { ""S"" : ""Car - 98.14982604980469%"" }","{ ""S"" : ""Building - 96.4316177368164%"" }","{ ""S"" : ""Tarmac - 95.8715591430664%"" }","{ ""S"" : ""Urban - 94.99915313720703%"" }","{ ""S"" : ""Road - 94.29228973388672%"" }","{ ""S"" : ""Condo - 92.85669708251953%"" }","{ ""S"" : ""Housing - 92.85669708251953%"" }","{ ""S"" : ""City - 92.21883392333984%"" }","{ ""S"" : ""Office Building - 87.58349609375%"" }","{ ""S"" : ""High Rise - 86.94839477539062%"" }","{ ""S"" : ""Apartment Building - 84.038818359...","{ ""S"" : ""Neighborhood - 73.65360260009766%"" }","{ ""S"" : ""Outdoors - 66.7999038696289%"" }","{ ""S"" : ""Architecture - 64.16875457763672%"" }","{ ""S"" : ""Suburb - 60.8856201171875%"" } ]"
4,1008931~305000~bin1.jpeg,"[ { ""S"" : ""Rug - 97.05144500732422%"" }","{ ""S"" : ""Building - 81.25817108154297%"" }","{ ""S"" : ""Housing - 81.25817108154297%"" }","{ ""S"" : ""Indoors - 64.73756408691406%"" }","{ ""S"" : ""Lighting - 58.67643737792969%"" }","{ ""S"" : ""Furniture - 54.201839447021484%"" }","{ ""S"" : ""Corner - 53.80848693847656%"" }","{ ""S"" : ""Room - 51.78305435180664%"" }","{ ""S"" : ""Bedroom - 51.78305435180664%"" } ]",None,None,None,None,None,None

Gathering all the labels and creating a new dataframe which has an image name and one label at a time

In [12]:
image_label_data = pd.melt(separated_data, id_vars="image_names (S)")

In [13]:
print(image_label_data.shape)
image_label_data.head(5)

(750, 3)

,image_names (S),variable,value
0,1008668~269000~bin1.jpeg,0,"[ { ""S"" : ""Housing - 94.73712158203125%"" }"
1,1008671~272000~bin1.jpeg,0,"[ { ""S"" : ""Couch - 99.80603790283203%"" }"
2,1008775~295000~bin1.jpeg,0,"[ { ""S"" : ""Water - 99.7072525024414%"" }"
3,1008928~280500~bin1.jpeg,0,"[ { ""S"" : ""Car - 98.14982604980469%"" }"
4,1008931~305000~bin1.jpeg,0,"[ { ""S"" : ""Rug - 97.05144500732422%"" }"

In [14]:
image_label_data = image_label_data.drop(['variable'], axis=1)
print(image_label_data.shape)
image_label_data.head(5)

(750, 2)

            image_names (S)                                          value
0  1008668~269000~bin1.jpeg  [    { "S" : "Housing - 94.73712158203125%" }
1  1008671~272000~bin1.jpeg    [    { "S" : "Couch - 99.80603790283203%" }
2  1008775~295000~bin1.jpeg     [    { "S" : "Water - 99.7072525024414%" }
3  1008928~280500~bin1.jpeg      [    { "S" : "Car - 98.14982604980469%" }
4  1008931~305000~bin1.jpeg      [    { "S" : "Rug - 97.05144500732422%" }

SPlitting value column to seperate label and confidence

In [15]:
image_label_data[['stupid_tag','label_confidence']] = image_label_data.value.str.split(":",expand=True) 
image_label_data.head(5)

,image_names (S),value,stupid_tag,label_confidence
0,1008668~269000~bin1.jpeg,"[ { ""S"" : ""Housing - 94.73712158203125%"" }","[ { ""S""","""Housing - 94.73712158203125%"" }"
1,1008671~272000~bin1.jpeg,"[ { ""S"" : ""Couch - 99.80603790283203%"" }","[ { ""S""","""Couch - 99.80603790283203%"" }"
2,1008775~295000~bin1.jpeg,"[ { ""S"" : ""Water - 99.7072525024414%"" }","[ { ""S""","""Water - 99.7072525024414%"" }"
3,1008928~280500~bin1.jpeg,"[ { ""S"" : ""Car - 98.14982604980469%"" }","[ { ""S""","""Car - 98.14982604980469%"" }"
4,1008931~305000~bin1.jpeg,"[ { ""S"" : ""Rug - 97.05144500732422%"" }","[ { ""S""","""Rug - 97.05144500732422%"" }"

In [16]:
image_label_data = image_label_data.drop(['value','stupid_tag'], axis=1)
image_label_data.head(5)

            image_names (S)                   label_confidence
0  1008668~269000~bin1.jpeg   "Housing - 94.73712158203125%" }
1  1008671~272000~bin1.jpeg     "Couch - 99.80603790283203%" }
2  1008775~295000~bin1.jpeg      "Water - 99.7072525024414%" }
3  1008928~280500~bin1.jpeg       "Car - 98.14982604980469%" }
4  1008931~305000~bin1.jpeg       "Rug - 97.05144500732422%" }

Final splitting to separate label and confidence

In [17]:
image_label_data[['label','confidence']] = image_label_data['label_confidence'].str.split("-",n = 2,expand=True)

In [18]:
image_label_data.head(5)

,image_names (S),label_confidence,label,confidence
0,1008668~269000~bin1.jpeg,"""Housing - 94.73712158203125%"" }","""Housing","94.73712158203125%"" }"
1,1008671~272000~bin1.jpeg,"""Couch - 99.80603790283203%"" }","""Couch","99.80603790283203%"" }"
2,1008775~295000~bin1.jpeg,"""Water - 99.7072525024414%"" }","""Water","99.7072525024414%"" }"
3,1008928~280500~bin1.jpeg,"""Car - 98.14982604980469%"" }","""Car","98.14982604980469%"" }"
4,1008931~305000~bin1.jpeg,"""Rug - 97.05144500732422%"" }","""Rug","97.05144500732422%"" }"

In [19]:
image_label_data.isna().sum()

image_names (S)       0
label_confidence    109
label               109
confidence          109
dtype: int64

In [20]:
image_label_data = image_label_data.dropna()
image_label_data.isna().sum()

image_names (S)     0
label_confidence    0
label               0
confidence          0
dtype: int64

Deleting numbers after decimal point from confidence column as extreme precision is not required

In [21]:
image_label_data['confidence'] = [x[:3] for x in image_label_data['confidence']]

In [22]:
image_label_data.head(10)

,image_names (S),label_confidence,label,confidence
0,1008668~269000~bin1.jpeg,"""Housing - 94.73712158203125%"" }","""Housing",94
1,1008671~272000~bin1.jpeg,"""Couch - 99.80603790283203%"" }","""Couch",99
2,1008775~295000~bin1.jpeg,"""Water - 99.7072525024414%"" }","""Water",99
3,1008928~280500~bin1.jpeg,"""Car - 98.14982604980469%"" }","""Car",98
4,1008931~305000~bin1.jpeg,"""Rug - 97.05144500732422%"" }","""Rug",97
5,1008945~252000~bin1.jpeg,"""Housing - 99.28533935546875%"" }","""Housing",99
6,1009173~275000~bin1.jpeg,"""Building - 88.37358093261719%"" }","""Building",88
7,1009181~262000~bin1.jpeg,"""Housing - 99.98538970947266%"" }","""Housing",99
8,1009186~255000~bin1.jpeg,"""Building - 99.29712677001953%"" }","""Building",99
9,1009193~285000~bin1.jpeg,"""Floor - 99.85785675048828%"" }","""Floor",99

Removing punctuation from the label column using following function

In [23]:
import string 
def remove_punctuations(text):
    if text is not None:
        for punctuation in string.punctuation:
            text = text.replace(punctuation, '')
        return text

image_label_data["label"] = image_label_data['label'].apply(remove_punctuations)

In [24]:
image_label_data.head(10)

,image_names (S),label_confidence,label,confidence
0,1008668~269000~bin1.jpeg,"""Housing - 94.73712158203125%"" }",Housing,94
1,1008671~272000~bin1.jpeg,"""Couch - 99.80603790283203%"" }",Couch,99
2,1008775~295000~bin1.jpeg,"""Water - 99.7072525024414%"" }",Water,99
3,1008928~280500~bin1.jpeg,"""Car - 98.14982604980469%"" }",Car,98
4,1008931~305000~bin1.jpeg,"""Rug - 97.05144500732422%"" }",Rug,97
5,1008945~252000~bin1.jpeg,"""Housing - 99.28533935546875%"" }",Housing,99
6,1009173~275000~bin1.jpeg,"""Building - 88.37358093261719%"" }",Building,88
7,1009181~262000~bin1.jpeg,"""Housing - 99.98538970947266%"" }",Housing,99
8,1009186~255000~bin1.jpeg,"""Building - 99.29712677001953%"" }",Building,99
9,1009193~285000~bin1.jpeg,"""Floor - 99.85785675048828%"" }",Floor,99

In [25]:
image_label_data = image_label_data.drop(['label_confidence'], axis=1)

In [26]:
image_label_data.shape
image_label_data.head(5)

            image_names (S)      label confidence
0  1008668~269000~bin1.jpeg   Housing          94
1  1008671~272000~bin1.jpeg     Couch          99
2  1008775~295000~bin1.jpeg     Water          99
3  1008928~280500~bin1.jpeg       Car          98
4  1008931~305000~bin1.jpeg       Rug          97

Checking total labels and counting their occurences.

Saving this data on local machine

In [27]:
labels = image_label_data.groupby(['label']).count()
labels.head(5)

                      image_names (S)  confidence
label
 Apartment Building                 9           9
 Appliance                          1           1
 Arbour                             2           2
 Architecture                       5           5
 Awning                             1           1

In [28]:
labels = labels.drop(['confidence'], axis=1)
labels.rename(columns = {"image_names (S)": "occurrences"}, inplace = True)
labels.head(5)

                      occurrences
label
 Apartment Building             9
 Appliance                      1
 Arbour                         2
 Architecture                   5
 Awning                         1

In [29]:
labels.dtypes

occurrences    int64
dtype: object

In [30]:
labels = labels.sort_values(by='occurrences', ascending=False)
labels.head(5)

             occurrences
label
 Housing              36
 Building             35
 Furniture            21
 Indoors              20
 Room                 19

In [31]:
labels.to_excel('label occurrences.xlsx')

Saving image name with one label and its confidence, at a time

In [32]:
image_label_data.to_excel('labels_gathered.xlsx')

In the following code, the data is spreaded and saved in excel file on the local machine

In [33]:
image_label_data.isna().sum()

image_names (S)    0
label              0
confidence         0
dtype: int64

In [34]:
image_label_data.dtypes

image_names (S)    object
label              object
confidence         object
dtype: object

Confidence percentage data which is in object type, is converted into int type in the following code

In [35]:
image_label_data['confidence'] = image_label_data['confidence'].astype(str).astype(int)

In [36]:
Spreaded_labels = pd.pivot_table(image_label_data,index='image_names (S)',columns='label',values='confidence')
Spreaded_labels=Spreaded_labels.reset_index()

In [37]:
Spreaded_labels.shape

(50, 140)

In [38]:
Spreaded_labels.head(5)

label,image_names (S),Apartment Building,Appliance,Arbour,Architecture,Awning,Azure Sky,Backyard,Balcony,Banister,...,Vehicle,Villa,Waiting Room,Walkway,Water,Waterfront,Wheel,Wood,Woodland,Yard
0,1008668~269000~bin1.jpeg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1008671~272000~bin1.jpeg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1008775~295000~bin1.jpeg,NaN,NaN,NaN,57.0,NaN,NaN,NaN,NaN,NaN,...,59.0,NaN,NaN,NaN,99.0,88.0,NaN,NaN,NaN,NaN
3,1008928~280500~bin1.jpeg,84.0,NaN,NaN,64.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1008931~305000~bin1.jpeg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
Spreaded_labels = Spreaded_labels.fillna(0)

In [40]:
Spreaded_labels.to_excel('labels_spreaded.xlsx')

**Future Scope**

In the next step, this generated dataset will be used to classify images into different categories using the objects (labels) identified in the image data


#####References

https://www.datacamp.com/community/blog/pandas-cheat-sheet-python, online information, last visit: 1/02/2020
https://support.sisense.com/hc/en-us/community/posts/360037984913-Pivoting-and-Melting-Dataframes, online information, last visit: 1/02/2020
https://stackoverflow.com/questions/51607400/how-to-extract-first-8-characters-from-a-string-in-pandas,, online information, last visit: 1/02/2020